/* general.css */

* {
    font-family: "Times New Roman", Times, serif !important;
}

body {
    background:
        linear-gradient(rgba(20,30,60,0.15), rgba(60, 40, 20, 0.2)),
        url("https://i.postimg.cc/zBq4wWCg/Gemini-Generated-Image-estpntestpntestp.png");
    background-size: cover;
    background-attachment: fixed;
}

.navbar-custom {
    background-color: #F2E124 !important;
}

.navbar-brand {
    color: #000 !important;
    font-weight: bold;
    margin-right: 20px;
}

.nav-link {
    color: #000 !important;
    font-size: 0.9rem;
    margin-right: 10px;
}

.logos-fijos {
    position: fixed;
    top: 150px;
    right: 1cm;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2000;
}

.logo-card {
    width: 130px;
    height: 130px;
    background: rgba(255, 255, 255, 0.244);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-card img {
    max-width: 110%;
    max-height: 110%;
    object-fit: contain;
}

.logo-grande img {
    transform: scale(1.14);
}