{% extends "base.html" %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block content %}

<div class="row align-items-center px-4" style="margin-top: 5px;">
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <h5 id="saludo" class="m-0">{{ data.saludo }}, {{ data.nombre_usuario }}</h5>
    </div>
    <div class="col-3"></div>
</div>

<div class="logos-fijos" id="logos-fijos">
    <div id="logos-content">
        {% if data.logos %}
            {% for logo in data.logos %}
            <a href="/empresa/{{ logo.nombre }}" class="logo-card">
                <img src="{{ logo.url if logo.url is defined else logo }}" alt="logo {{ logo.nombre }}">
            </a>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

