{%extends "base.html" %}

{%block title%}Comercio exterior{%endblock%}

{%block extra_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/comercio.css') }}">
{%endblock%}

{% block nav_links %}
<a class="nav-link" href="#">Campañas</a>
<a class="nav-link" href="#">Clientes</a>
<a class="nav-link" href="#">Ventas</a>
{% endblock %}

{%block content%}
<div class="saludo-container">
    <h1>{{ saludo }}, {{ usuario }}</h1>
</div>

<div class="contenido-izquierda">

    {% for n in noticias_comercio %}

    <div class="card-custom card-noticias">

        {% if loop.first %}
        <h5>Noticias</h5>
        <hr>
        {% endif %}

        <strong>{{ n.titulo }}</strong>
        <p>{{ n.texto }}</p>

    </div>

    {% endfor %}

</div>

<div class="logos-fijos">
    {% for url in logos or [] %}
    <div class="logo-card">
        <img src="{{ url }}">
    </div>
    {% endfor %}
</div>
{% endblock %}