{% extends "base.html" %}
{% block title %}Crear Noticia{% endblock %}

{% block content %}
<div class="card-custom" style="max-width: 600px; margin: auto;">
    <h3>Crear nueva noticia</h3>
    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Sección</label>
            <select name="seccion" class="form-select" required>
                <option value="general">General (Dashboard)</option>
                <option value="tic">TIC</option>
                <option value="contabilidad">Contabilidad</option>
                <option value="contraloria">Contraloría</option>
                <option value="abastecimiento">Abastecimiento</option>
                <option value="indicadores">Indicadores</option>
                <option value="comercio">Comercio</option>
                <option value="tesoreria">Tesorería</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Título</label>
            <input type="text" name="titulo" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Contenido</label>
            <textarea name="texto" class="form-control" rows="4" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Fecha de expiración (opcional)</label>
            <input type="date" name="fecha_expiracion" class="form-control">
            <div class="form-text">Si la dejas vacía, la noticia no vencerá.</div>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-2">Publicar Noticia</button>
    </form>
</div>
{% endblock %}