{% extends 'base.html' %}

{% block title %}{{ nombre_empresa_informe }}{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">Informes - {{ nombre_empresa_informe }}</h2>

    <div class="logos-fijos">
        {% for url in logos or [] %}
        <div class="logo-card">
            <img src="{{ url }}">
        </div>
        {% endfor %}
    </div>

    <ul class="lista-informes">

        {% for informe in informes %}
        <li class="item-informe">
            <span>{{ informe.nombre }}</span>

            <a href="{{ url_for(informe.ruta) }}">
                Ver informe
            </a>
        </li>
        {% endfor %}

    </ul>

</div>

{% endblock %}