{% extends "base.html" %}

{% block title %}Indicadores{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/indicadores.css') }}">
{% endblock %}

{% block nav_links %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="indicadoresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Indicadores
    </a>
    <ul class="dropdown-menu" aria-labelledby="indicadoresDropdown">
        <li><a class="dropdown-item" href="#">Indicador desempeño</a></li>
        <li><a class="dropdown-item" href="#">Indicador eficiencia</a></li>
    </ul>
</li>
<a class="nav-link" href="#">Reportes</a>
{% endblock %}

{% block content %}

<div class="row align-items-center px-4" style="margin-top: 5px;">
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <h5 id="saludo" class="m-0">{{ data.saludo }}, {{ data.nombre_usuario }}</h5>
    </div>
    <div class="col-3"></div>
</div>

    {% if data.noticias and data.noticias|length > 0 %}
    <div class="contenido-izquierda">
        <h4 class="mb-2">Noticias</h4>
        <hr>
        {% for noticia in data.noticias %}
            <div class="card-custom card-noticias mb-3">
                <h5>{{ noticia.titulo }}</h5>
                <p>{{ noticia.texto }}</p>
            </div>
        {% endfor %}
    </div>
    {% endif %}

</div>

<div class="logos-fijos">
    <div id="logos-content">
    {% if data.logos %}
        {% for logo in data.logos %}
            <a href="/empresa/{{ logo.nombre }}" class="logo-card">
                <img src="{{ logo.url if logo.url is defined else logo }}" alt="logo {{ logo.nombre }}">
            </a>
        {% endfor %}
    {% endif %}
    </div>
</div>

{% endblock %}

{% block extra_js %}
{# Bloque limpio de scripts asíncronos #}
{% endblock %}